body {

    color: #a84040;
  }


  .tag {
    font-family: inherit; 
    font-size: 1rem;
   }  


  .jumbotron {
    min-height: 350px;
    background-image: url("/static/images/GOTV.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  .jumbotron2 {
    background-image: url("");
    background-size: 100% 100%;
    text-align: center;
  } 