body {
    color: #FFFFFF;
  }
table, th, td {
    color: #FFFFFF;
}

  .tag {
    font-family: inherit; 
    font-size: 1rem;
   }  


  .jumbotron {
    min-height: 350px;
    background-image: url("");
    background-size: 100% 100%;
    text-align: center;
  }
  .jumbotron2 {
    background-image: url("");
    background-size: 100% 100%;
    text-align: center;
  } 
